body{
    margin-top: 120px;
    text-align:center;
  }
  
  h1 {
    padding-bottom: 0.5rem;
  }
  
  input[type=number] {
    cursor: pointer;
  }
  
  #input-celsius{
    background-color: #48cdf2;
    font-size: 2.5rem;
  }
  
  #input-fahrenheit{
    background-color: #19BAF5;
    font-size: 2.5rem;
  }
  
  #input-kelvin{
    background-color: #46a0F9;
    font-size: 2.5rem;
  }
  
  .form-padding {
    padding: 1rem 1rem;
    margin-bottom: 30px;
  }
  
  ::-webkit-input-placeholder {
    color: #FFFFFF ;
  }
  ::-moz-placeholder {
    color: #FFFFFF ;
  }
  :-ms-input-placeholder {
    color: #FFFFFF ;
  }
  :-moz-placeholder {
    color: #FFFFFF ;
  }
